html{
    max-width: 100%;
}

body{
    font-family: "Open Sans", sans-serif;

}

.img{
    margin: 0 auto;
    display : block;
}


.text_const{
    font-size:50px;
    font-weight:700;
}

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

#newsletter{
    font-family: 'Oswald', sans-serif;
    color: #555;
}

#signup-form {
    margin-top: 50px;
}

#signup-form input[type="text"], #signup-form input[type="email"] {
    border: 0;
    border-bottom: 1px solid #777;
    box-shadow: none;
    margin: 50px 0;
    color: #1583cc;
    font-size: 25px;
}

#status {
    font-weight: 300;
    font-size: 25px;
    margin-top: 75px;
    color: green;
}